.main-2 {
  
  
  display: flex;
  justify-content:center ;
  width: 100%;
  align-items: center;
  height: 600px;
  
  
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZasCgCcqpweosWRSt_bIfvAv7HykDBcxqiA&usqp=CAU")
}

.App {
  background-color: #333;
  align-items: center;
  display: block;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 480px;
  background: linear-gradient( 45deg,
  rgba(62, 64, 64, 0.8) 0%,
   rgba(33, 32, 32, 0.8)100%), 
  
  
   url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZasCgCcqpweosWRSt_bIfvAv7HykDBcxqiA&usqp=CAU');

 
}

.header-item-1 {
 display:flex;
 justify-content: flex-start;
  font-size: 40px;
  color:white;
  margin-top:0%;
  
}

.header-item-2 {
  margin-top: 0%;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  font-size: 40px;
  color: white;
  
}

.choice {
  margin-left: auto;
  margin-right: auto;
  font-size:25px;
  
}

.radio-input {
  margin-top: 15px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  
}

.shows-display {
  
  background-color:transparent;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left:10px;
  margin-right:10px;
}